<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.developer.kernel.increased-memory-limit</key>
	<true/>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.CY-8B58D0FE-CBF4-11E9-9B23-D3AF4E2A89B3.com.cydia.Extender</string>
	</array>
</dict>
</plist>
